/* sakura overrides */

html > body {
  max-width: unset;
  padding: 0;
}

form {
  flex: 1;
  height: 100%;
  margin: auto;
  max-width: 38em;
  overflow-y: scroll;
  padding: 1em;
}

form button {
  margin: 1.5em 0;
}

a.brand:hover {
  border-bottom: 0;
}

/* nav and burger use a few styles from picnic.css */
/* https://picnicss.com/ */

nav {
  align-items: center;
  display: flex;
  height: 2.5em;
  padding: 0 .6em;
  background-color: #fff;
  z-index: 10000;
  transition: all .2s;
  transform-style: preserve-3d;
}
.brand,
.nav-button {
  color: inherit;
  font-weight: 700;
}
.brand {
  padding: 0 .6em;
}
.nav-button {
  cursor: pointer;
  justify-content: center;
  margin-left: auto;
  padding: 0 .5em;
  width: 1em;
}
.nav-button:hover {
  color: #982c61;
}
.burger {
  margin-left: 0;
}
.menu,
.menu.open ~ .burger {
  background-color: #fff;
  height: 100vh;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: none;
  transition: all .2s ease;
}
.menu {
  max-width: 300px;
  transform-origin: center right;
  transform: scaleX(0);
  transition: all .2s / 2 ease;
  width: 70%;
  z-index: 11;
}
.menu > * {
  display: block;
  margin: .6em / 2;
  max-width: calc(100% - .6em);
  text-align: left;
  transform: translateX(100%);
  transition: all 0s ease .3;
}
.menu > a {
  border: none;
  padding: .6em / 2 .6em * 1.5;
}
.menu > a.active {
  background-color: #982c61;
}
.menu.open ~ .burger {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 0;
  color: transparent;
  transition: all .2s ease;
  width: 100%;
}
.menu.open {
  transform: scaleX(1);
}
.menu.open > * {
  transform: translateX(0);
  transition: all .4s ease-in-out .4s * 1.2;
}

nav .search-input {
  margin-bottom: 0;
  max-width: 200px;
  padding-left: 1.6em;
  top: 0.25em;
  width: 40vw;
}

nav .search-icon {
  font-size: 1.4em;
  margin: 0 -1em 0 .5em;
  transform: rotate(45deg);
  z-index: 2;
}

/* content. colors are based on sakura.css */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex: 1;
  overflow: auto;
}

/* flash message */

.flash-container {
  position: absolute;
  text-align: center;
  width: 90%;
  left: 0;
  right: 0;
  top: 2.6em;
  margin: .2em auto;
}

.flash-message {
  background-color: #f9f9f9;
  border: 1px solid;
  border-radius: 1px;
  margin: auto;
  max-width: 34em;
  position: relative;
}

.flash-closer {
  padding: 5px;
  position: absolute;
  right: 1px;
  top: -6px;
}

/* dashboard */

.dashboard {
  display: flex;
  flex: 1;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
}

section {
  padding: 2em;
}

section,
section > * {
  box-sizing: border-box;
}

section h2, h3 {
  margin-top: 0;
}

.scroll-section {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.scroll-section::after { /* adds bottom shadow */
  bottom: -22px;
  box-shadow: 0 0 12px 22px #f9f9f9aa;
  content: '';
  display: block;
  height: 22px;
  pointer-events: none;
  position: fixed;
  width: calc(100% - 22px * 2);
}

.folder-tree {
  max-width: 360px;
  min-width: 280px;
  width: 35vw;
}

.folder-tree-border {
  border-right: solid;
  z-index: 2;
}

.folder-content {
  max-width: 1400px;
  padding: 2em 12vw 2em 12vw;
  width: 75vw;
}

.folder-content:not(.with-tree) {
  margin: auto;
}

.item, .context-menu button {
  font-size: 1.5rem;
}

.item-body {
  align-items: center;
  display: flex;
  padding: 4px;
  white-space: nowrap;
}

.item-accessory {
  display: inline-block;
  text-align: center;
  width: 26px;
}

.item-icon {
  display: inline-block;
  width: 28px;
}

.item-name,
.item-info {
  color: #2c8898;
  margin-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* disable sakura a styles */
.item-body {
  color: inherit;
}
.item-body:hover {
  border-bottom: unset;
  color: inherit;
}

.item-body:hover > .item-name,
.item-body.active > .item-name {
  color: #982c61;
}

.item-body:hover > .item-info,
.item-body.active > .item-info {
  visibility: visible;
  visibility: visible;
}

.item-info {
  flex: 1 2 0px;
  font-size: 1.3rem;
  padding-top: 3px;
  visibility: hidden;
}

.item.cut {
  border: 1px dashed;
  margin: -1px;
}

.item.cut + .item.cut {
  border-top: none;
}

.item.selected {
  background-color: #c9c9c9aa;
}

/* folder-tree indentation that stacks with each level > 1 */
.item-list .item-list {
  padding-left: 20px;
}

.item-menu-button {
  height: 26px;
  margin-left: auto;
  min-width: 26px;
  text-align: center;
  width: 26px;
}

.item-menu-button:focus,
.item-menu-button.active {
  background-color: #2c8898;
  border-radius: 100px;
  color: #fff;
}

.row {
  align-content: start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row > * {
  flex: 1;
  padding: 1em;
  min-width: 450px;
}

.modal {
  background-color: #f9f9f9;
  left: 0;
  position: absolute;
  right: 0;
  top: 2.5em; /* nav height */
}

.modal .headline {
  margin-bottom: 0;
}

/* dragview must be part of dom in chromium browsers; move out of sight */

#dragview {
  left: -9999px;
  position: absolute;
}

/* context menu */

.context-menu {
  background-color: #f1f1f1;
  border: 1px solid;
}

.context-menu button,
.context-menu button:hover {
  background-color: unset;
  border: unset;
  display: block;
  color: #4a4a4a;
  text-align: left;
  width: 100%;
}

.context-menu button[disabled] {
  background-color: #c9c9c9;
  opacity: 1;
}

.context-menu button:not([disabled]):hover {
  background-color: #2c8898;
  color: #f9f9f9;
}

.button-icon {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  width: 1.5em;
}

.button-divider {
  background-color: #4a4a4a;
  height: 1px;
  margin: 4px;
  width: calc(100% - 8px);
}

/* progress bar */

.progress-bar {
  background-color: #0c5868;
  width: 100%;
}

.progress-bar div {
  background-color: #2c8898;
  height: 100%;
  transition: width .2s;
}

.progress-bar p {
  color: #fff;
  overflow: visible;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
}

/* loader */

.loader {
  margin: 0 auto 0;
  padding-top: 4px;
  text-align: center;
  width: 70px;
}

.loader > div {
  width: 10px;
  height: 10px;
  background-color: #2c8898;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* mobile / responsive layout */

@media (max-width: 1440px) {
  .folder-content {
    padding: 2em 4vw 2em 8vw;
  }

  .folder-tree ~ .folder-content {
    width: 100%;
  }
}

@media (max-width: 684px) {
  section,
  .folder-content {
    padding: 1em;
    width: 100%;
  }

  .dashboard {
    flex-direction: column;
  }

  .dashboard .headline,
  .item-expansion-toggle {
    display: none;
  }

  .dashboard #activeId-select {
    left: 1em;
    margin-top: 1em;
    position: sticky;
    width: calc(100% - 2.5em);
  }

  .row > * {
    padding: 1em 0;
    min-width: 100%;
  }
}

/* dark theme */

@media (prefers-color-scheme: dark) {
  nav {
    background-color: #1a1a1a;
  }
  .brand:hover,
  .nav-button:hover {
    color: #fff;
  }
  .menu > a.active {
    background-color: #c9c9c9;
  }
  .flash-message,
  .modal {
    background-color: #222;
  }
  .scroll-section::after {
    box-shadow: 0 0 12px 22px #222222aa;
  }
  .item-name,
  .item-info {
    color: #fff;
  }
  .item-body:hover > .item-name,
  .item-body.active > .item-name {
    color: #c9c9c9;
  }
  .item.selected {
    background-color: #4a4a4a;
  }
  .item-menu-button:focus,
  .item-menu-button.active {
    background-color: #fff;
    color: #222;
  }
  .context-menu {
    background-color: #fff;
  }
  .context-menu button,
  .context-menu button:hover {
    color: #222;
  }
  .context-menu button[disabled], .button-divider {
    background-color: #bbb;
  }
  .context-menu button:not([disabled]):hover {
    background-color: #c9c9c9;
    color: #222;
  }
  .progress-bar {
    background-color: #aaa;
  }
  .progress-bar div, .loader > div {
    background-color: #c9c9c9;
  }
  .progress-bar p {
    color: #222;
  }
}

/* kill scrollbars */

html * {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html *::-webkit-scrollbar { /* For Chrome, Safari, and Opera */
  visibility: hidden;
  width: 0px;
}

/* prevent "address bar scrolling" in mobile browsers */

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
