name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Test server
      run: |
        npm ci --prefix server
        npm run test --prefix server

    - name: Build and test webapp
      run: |
        npm ci --prefix webapp
        npm run build --prefix webapp
        npm run test --prefix webapp

    - name: Build plugin
      run: |
        npm ci --prefix plugin
        npm run build --prefix plugin

    - name: Run integration tests
      run: |
        npm ci --prefix test
        npm run test --prefix test

    - name: Upload cypress screenshots
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: cypress-screenshots
        path: test/cypress/screenshots/*
